{% extends "base.html" %}
{% load static %}
{% block title %}
<title>Listygo | About</title>
{% endblock title %}

{% block main %}
  <!-- Inne Page Banner Area Start Here -->
  <section class="inner-page-banner bg-common inner-page-top-margin overlay-dark-40"
  data-bg-image="{% static 'base/img/figure/inner-page-banner1.jpg' %}">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="breadcrumbs-area">
          <h1>About us</h1>
          <ul>
            <li>
              <a href="{% url 'home' %}" >Home</a>
            </li>
            <li>About us</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </section>
  <!-- Inne Page Banner Area End Here -->
    <!-- About Us Area Start Here -->
    <section class="about-wrap-layout1 padding-top-10 padding-bottom-7 bg--accent">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-12">
            <div class="about-box-layout1">
              <h2 class="item-title title-bar">What We Do</h2>
              <p class="strong-paragraph">Dorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aspernatur atque perferendis, laudantium quod architecto velit ad officiis facere
                eveniet.</p>
              <p>Morem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur atque perferendis,
                laudantium quod architecto velit ad officiis facere eveniet in fuga fugiat delectus
                rerum doloribus quos consectetur unde, expedita, quibusdam corporis impedit quia sequi
                aliquid sit. Ducimus labore molestias odio nam necessitatibus laboriosam vero saepe
                enim nobis. Repudiandae quidem, sint earum dolorum consequuntur dignissimos.</p>
              <p>Morem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur atque perferendis,
                laudantium quod architecto velit ad officiis facere eveniet in fuga fugiat delectus
                rerum doloribus quos consectetur unde, expedita, quibusdam corporis impedit quia sequi
                aliquid sit. Ducimus labore molestias odio nam necessitatibus laboriosam vero saepe
                enim nobis. Repudiandae quidem, sint earum dolorum consequuntur dignissimos.</p>
            </div>
          </div>
          <div class="col-lg-6 col-12">
            <div class="about-box-layout2">
              <img alt="video" src="{% static 'base/img/figure/video-bg1.jpg' %}" />
              <a class="play-btn popup-youtube" href="http://www.youtube.com/watch?v=1iIZeIy7TqM">
                <i class="fas fa-play"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- About Us Area End Here -->
    <!-- Banner Area Start Here -->
    <section class="action-wrap-layout1 padding-top-9 padding-bottom-10 bg-common overlay-primary-70"
      data-bg-image="{% static 'base/img/figure/site-main-figure3.jpg' %}">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="banner-box-layout1">
              <h2 class="item-title">Add Your Listing Site</h2>
              <p>Weimply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a
                galley of type and scrambled it to make a type specimen book. It has survived not only
                five centuries</p>
              <a class="btn-fill" href="#">Post your Listing</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Banner Area End Here -->
    <!-- Team Area Start Here -->
    <!-- <section class="team-wrap-layout1 padding-top-9p6 padding-bottom-7 bg--accent">
      <div class="container">
        <div class="section-heading heading-dark heading-center">
          <div class="item-sub-title">Behind the History</div>
          <h2 class="item-title">Dedicated Team</h2>
        </div>
        <div class="rc-carousel nav-control-layout4 listing-box-grid" data-autoplay="false" data-autoplay-timeout="5000"
          data-dots="false" data-items="6" data-loop="true" data-margin="30" data-nav="true" data-nav-speed="false"
          data-r-extra-large="3" data-r-extra-large-dots="false" data-r-extra-large-nav="true" data-r-large="3"
          data-r-large-dots="false" data-r-large-nav="true" data-r-medium="2" data-r-medium-dots="false"
          data-r-medium-nav="true" data-r-small="2" data-r-small-dots="false" data-r-small-nav="true"
          data-r-x-medium="1" data-r-x-medium-dots="false" data-r-x-medium-nav="true" data-r-x-small="1"
          data-r-x-small-dots="false" data-r-x-small-nav="true" data-smart-speed="2000">
          <div class="team-box-layout1">
            <div class="item-thumb">
              <img alt="Team" src="{% static 'base/img/team/team1.jpg' %}" />
              <div class="item-social">
                <ul>
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                  <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                  <li><a href="#"><i class="fab fa-skype"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="item-content">
              <h3 class="item-title"><a href="#">Mark Willy</a></h3>
              <div class="item-designation">CEO &amp; Co-Founder </div>
            </div>
          </div>
          <div class="team-box-layout1">
            <div class="item-thumb">
              <img alt="Team" src="{% static 'base/img/team/team2.jpg' %}" />
              <div class="item-social">
                <ul>
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                  <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                  <li><a href="#"><i class="fab fa-skype"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="item-content">
              <h3 class="item-title"><a href="#">Mark Willy</a></h3>
              <div class="item-designation">CEO &amp; Co-Founder </div>
            </div>
          </div>
          <div class="team-box-layout1">
            <div class="item-thumb">
              <img alt="Team" src="{% static 'base/img/team/team3.jpg' %}" />
              <div class="item-social">
                <ul>
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                  <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                  <li><a href="#"><i class="fab fa-skype"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="item-content">
              <h3 class="item-title"><a href="#">Mark Willy</a></h3>
              <div class="item-designation">CEO &amp; Co-Founder </div>
            </div>
          </div>
          <div class="team-box-layout1">
            <div class="item-thumb">
              <img alt="Team" src="{% static 'base/img/team/team1.jpg' %}" />
              <div class="item-social">
                <ul>
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                  <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                  <li><a href="#"><i class="fab fa-skype"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="item-content">
              <h3 class="item-title"><a href="#">Mark Willy</a></h3>
              <div class="item-designation">CEO &amp; Co-Founder </div>
            </div>
          </div>
          <div class="team-box-layout1">
            <div class="item-thumb">
              <img alt="Team" src="{% static 'base/img/team/team2.jpg' %}" />
              <div class="item-social">
                <ul>
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                  <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                  <li><a href="#"><i class="fab fa-skype"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="item-content">
              <h3 class="item-title"><a href="#">Mark Willy</a></h3>
              <div class="item-designation">CEO &amp; Co-Founder </div>
            </div>
          </div>
          <div class="team-box-layout1">
            <div class="item-thumb">
              <img alt="Team" src="{% static 'base/img/team/team3.jpg' %}" />
              <div class="item-social">
                <ul>
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                  <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                  <li><a href="#"><i class="fab fa-skype"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="item-content">
              <h3 class="item-title"><a href="#">Mark Willy</a></h3>
              <div class="item-designation">CEO &amp; Co-Founder </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <!-- Team Area End Here -->
{% endblock main %} 

