{% extends "base.html" %}
{% load static %}

{% block title %}
<title>DiamonHands | Stock Backtesting</title>
{% endblock title %}

{% block main %}
<div style="background: #070F0C !important; padding-bottom:0 !important;">
    <section class="main-banner-wrap-layout1 bg-common overlay-dark-30 bg--gradient-top-30"
        style="background: #0A1611; padding-bottom:0 !important;">
        <div class="container">
            <div class="main-banner-box-layout1">
                <h1 class="item-title">Start Stock Backtesting</h1>
                <form id="category-search-form" class="category-search-form" method="post">
                    {% csrf_token %}
                    <ul class="form-items">
                        <li>
                            <div class="input-group stylish-input-group">
                                {{form.stock}}
                            </div>
                        </li>
                        <li>
                            <div class="input-group stylish-input-group">
                                {{form.amount}}
                            </div>
                        </li>
                        <li>
                            <div class="input-group stylish-input-group">
                                {{form.rate}}
                            </div>
                        </li>
                    </ul>
                    <ul class="form-items">
                        <li>
                            <div class="input-group stylish-input-group">
                                {{form.start_date}}
                            </div>
                        </li>
                        <li>
                            <div class="input-group stylish-input-group">
                                {{form.end_date}}
                            </div>
                        </li>
                        <li>
                            <div class="form-group mb-0">
                                <button type="submit" class="item-btn calc">Calculate</button>
                            </div>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </section>
    {% if success %}
    <section class="category-wrap-layout1 padding-top-9p6 padding-bottom-7 overlay-dark-70 parallaxie bg--dark" style="background:rgb(11, 23, 19) !important;">
        <div class="container">
            <div class="section-heading heading-light heading-center">
                {% comment %} <div class="item-sub-title">Explore some of the best place by categories</div> {% endcomment %}
                <h2 class="item-title">Results</h2>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="category-box-layout1">
                        <h3 class="item-title"><a style="color:white">${{starting_amount}}</a></h3>
                        <div class="home-number" style="color:white;">Your investment got you {{total_shares|floatformat:2}} shares at ${{start_opening_price|floatformat:2}} per share of {{ stock }} on {{start_date}}</div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="category-box-layout1">
                        <h3 class="item-title"><a style="color:white">${{ending_amount|floatformat:2}}</a></h3>
                        <div class="home-number" style="color:white;">Selling your shares on {{end_date}} at ${{end_opening_price|floatformat:2}} per share gives you a ${{difference_in_amount|floatformat:2}} {{state}} amount at {{difference_in_percentage|floatformat:2}}% {{state}} rate</div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="category-box-layout1">
                        <h3 class="item-title"><a style="color:white">{{yearly_return|floatformat:2}}%</a></h3>
                        <div class="home-number" style="color:white;">Year-over-year change</div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="category-box-layout1">
                        <h3 class="item-title"><a style="color:white">{{monthly_return|floatformat:2}}%</a></h3>
                        <div class="home-number" style="color:white;">Month-over-month change</div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    var period_values = {{ period_values|safe }};
    var labels = period_values.map(function(item) {
        return item[0];
    });
    var data = period_values.map(function(item) {
        return item[1];
    });

    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'Return on investment',
                data: data,
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1
            }]
        },
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        let previousStartDate = document.querySelector('#id_start_date').value;
        const startDate = document.querySelector('#id_start_date');
        const endDate = document.querySelector('#id_end_date');
        const rate = document.querySelector('#id_rate');
        const form = document.querySelector('#category-search-form');

        function checkDate() {
            const today = new Date();
            today.setHours(0, 0, 0, 0);
            const tomorrow = new Date(today);
            tomorrow.setDate(tomorrow.getDate() + 1);
            const selectedStartDate = new Date(startDate.value);
            const selectedEndDate = new Date(endDate.value);

            if (selectedStartDate > tomorrow) {
                alert("Start date cannot be in the future.");
                startDate.value = '';
                return false;
            }

            if (selectedStartDate > selectedEndDate) {
                alert("End date cannot be less than start date.");
                endDate.value = '';
                return false;
            }

            previousStartDate = startDate.value;

            if (selectedStartDate > tomorrow || selectedEndDate > tomorrow) {
                rate.readOnly = false;
                rate.required = true;
                rate.classList.remove('low-opacity');
            } else {
                rate.readOnly = true;
                rate.required = false;
                rate.value=''
                rate.classList.add('low-opacity');
            }
        }

        startDate.addEventListener('change', checkDate);
        endDate.addEventListener('change', checkDate);
        checkDate();
    });
</script>

<style>
  
    .category-box-layout1 {
        background: #10221B;
    }
    .item-icon:hover {
        background: #3F8E8E;
    }

    input{
        background: #10221B !important;
        color: #c0c0c0 !important;
    }
    
    input::placeholder{
        background: #10221B !important;
        color: #c0c0c0 !important; 
    }
    .calc{
        background:#3F8E8E !important;
        color: whitesmoke !important;
        font-size:18px !important;
        border: none !important;
    }
    .calc:hover{
        background:#2C6262 !important;
    }
    .assets_dropdown{
            height: 50px;
            padding: 0 20px;
            background: #10221B !important;
            color: #c0c0c0 !important; 
            font-size: 14px;
        
    }

    input.low-opacity {
        opacity: 0.4 !important;
    }
</style>



{% endblock main %}