{% load static %}
<!DOCTYPE html>

<html class="no-js" lang="">

<head>
    <meta charset="utf-8" />
    <meta content="ie=edge" http-equiv="x-ua-compatible" />
    {% block title %}
    <title>DiamonHands | Home</title>
    {% endblock title %}
    <meta content="" name="description" />
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />
    <!-- Favicon -->
    <link href="{% static 'backtest/img/favicon.png' %}" rel="shortcut icon" />
    <!-- Normalize Css -->
    <link href="{% static 'backtest/css/normalize.css' %}" rel="stylesheet" />
    <!-- Main Css -->
    <link href="{% static 'backtest/css/main.css' %}" rel="stylesheet" />
    <!-- Bootstrap Css -->
    <link href="{% static 'backtest/css/bootstrap.min.css' %}" rel="stylesheet" />
    <!-- Animate CSS -->
    <link href="{% static 'backtest/css/animate.min.css' %}" rel="stylesheet" />
    <!-- Fontawesome CSS -->
    <link href="{% static 'backtest/css/fontawesome-all.min.css' %}" rel="stylesheet" />
    <!-- Flaticon CSS -->
    <link href="{% static 'backtest/fonts/flaticon.css' %}" rel="stylesheet" />
    <!-- Slick Caousel CSS -->
    <link href="{% static 'backtest/css/slick.css' %}" rel="stylesheet" />
    <link href="{% static 'backtest/css/slick-theme.css' %}" rel="stylesheet" />
    <!-- Nouislider Style CSS -->
  <link href="{% static 'backtest/css/nouislider.min.css' %}" rel="stylesheet" />
    <!-- Magnific Popup CSS -->
    <link href="{% static 'backtest/css/magnific-popup.css' %}" rel="stylesheet" />
    <!-- Owl Carousel CSS -->
    <link href="{% static 'backtest/css/owl.carousel.min.css' %}" rel="stylesheet" />
    <link href="{% static 'backtest/css/owl.theme.default.min.css' %}" rel="stylesheet" />
    <!-- Custom Css -->
    <link href="{% static 'backtest/style.css' %}" rel="stylesheet" />
    <!-- Select 2 CSS -->
    <link href="{% static 'backtest/css/select2.min.css' %}" rel="stylesheet" />
    <!-- Datetime Picker Style CSS -->
    <link href="{% static 'backtest/css/jquery.datetimepicker.css' %}" rel="stylesheet" />
    <!-- Modernizr Js -->
    <script src="{% static 'backtest/js/modernizr-3.6.0.min.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/fontawesome.min.css" integrity="sha512-UuQ/zJlbMVAw/UU8vVBhnI4op+/tFOpQZVT+FormmIEhRSCnJWyHiBbEVgM4Uztsht41f3FzVWgLuwzUqOObKw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/brands.min.css" integrity="sha512-DJLNx+VLY4aEiEQFjiawXaiceujj5GA7lIY8CHCIGQCBPfsEG0nGz1edb4Jvw1LR7q031zS5PpPqFuPA8ihlRA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <!-- Add your site or application content here -->
    <!-- Preloader Start Here -->
    <div id="preloader"></div>
    <!-- Preloader End Here -->
    <!-- ScrollUp Start Here -->
    {% comment %} <a class="scrollup" data-type="section-switch" href="#wrapper">
        <i class="fas fa-angle-double-up"></i>
    </a> {% endcomment %}
    <!-- ScrollUp End Here -->
    <div class="wrapper" id="wrapper">
        <!-- Header Area Start Here -->
        <header id="site-header" class="header-one" style="background: #070F0C; color: white;">
            <div class="header-main header-sticky bg--dark" style="background: #070F0C; color: white;">
                <div class="container-fluid" style="background: #070F0C; color: white;">
                    <div class="mob-menu-open toggle-menu" style="background: #070F0C; color: white;">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                    <div class="row" style="background: #070F0C; color: white;">
                        <div class="col-lg-2 col-12" style="background: #070F0C; color: white;">
                            <div class="site-logo">
                                <a href="{% url 'home' %}" style="background: #070F0C; color: white; font-size:50px;">💎👐</a>
                                {% comment %} <a href="{% url 'home' %}" class="sticky-logo"><img src="{% static 'backtest/img/sticky-logo.png' %}"  alt="Site Logo"></a> {% endcomment %}
                                {% comment %} <a href="{% url 'home' %}" class="sticky-logo"><img src="{% static 'backtest/img/sticky-logo.png' %}"  alt="Site Logo"></a> {% endcomment %}
                            </div>
                        </div>
                        <div class="col-lg-7 col-12 possition-static" style="background: #070F0C; color: white;">
                            <nav class="site-nav" style="background: #070F0C; color: white;">
                                <ul class="site-menu" style="background: #070F0C; color: white;">
                                    <li><a  href="{% url 'home' %}" style="background: #070F0C; color: white;" >Home</a></li>
                                    <li><a  href="{% url 'stock' %}"  style="background: #070F0C; color: white;">Stock</a></li>
                                    <li><a  href="{% url 'crypto' %}" style="background: #070F0C; color: white;" >Crypto</a></li>
                                    <li><a  href="{% url 'forex' %}" style="background: #070F0C; color: white;" >Forex</a></li>
                                    {% comment %} <li><a  href="{% url 'about' %}" >About</a></li>
                                    <li>
                                        <a  href="{% url 'listing' %}" >Listing</a>
                                    </li>
    
                                    <li><a  href="{% url 'blog_list' %}" >Blog</a>
                            
                                    </li>
    
                                    <li><a  href="{% url 'home' %}" >home</a>
                            
                                    </li>
                                    <li><a  href="{% url 'contact' %}" >Contact</a></li> {% endcomment %}
                                </ul>
                            </nav>
                        </div>
                        <div class="col-lg-3 d-none d-lg-flex align-items-center justify-content-end">
                            <div class="nav-action-elements">
                                <ul>
                                    <li>
                                        {% comment %} <button type="button" class="login-btn" data-toggle="modal" data-target="#myModal">
                                            <i class="flaticon-profile"></i>Login
                                        </button> {% endcomment %}
                                    </li>
                                     <li>
                                        <a  href="{% url 'home' %}" class="ghost-btn"  ><i class="flaticon-profile"></i>Log in</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        {% block main %}

        {% endblock main %}

        <footer style="background:#070F0C;">
            <section class="footer-top-wrap" style="background:#070F0C;">
                <div class="container" style="background:#070F0C;">
                    <div class="row" style="background:#070F0C;">
                        <div class="single-item col-lg-3 col-md-6 col-12">
                            <div class="footer-box">
                                <div class="footer-logo">
                                    <a href="index.html" style="font-size:50px;">💎👐</a>
                                    {% comment %} <a href="index.html"><img alt="footer-logo" class="img-fluid"
                                            src="{% static 'backtest/img/footer-logo.png' %}" /></a> {% endcomment %}
                                </div>
                                {% comment %} <div class="footer-about">
                                    <p>Use the Upwork platform chat ande your desktop metro.</p>
                                </div>
                                <div class="footer-contact-info">
                                    <ul>
                                        <li><i class="fas fa-map-marker-alt"></i>34 Street kancas City United States
                                            area.</li>
                                        <li><i class="fas fa-phone"></i>+123 6669 000</li>
                                        <li><i class="far fa-envelope"></i>info@listygo.com</li>
                                    </ul>
                                </div> {% endcomment %}
                            </div>
                        </div>
                        <div class="single-item col-lg-3 col-md-6 col-12">
                            <div class="footer-box">
                                <div class="footer-header">
                                    <h3>Backtest</h3>
                                </div>
                                <div class="widget_nav_menu">
                                    <ul>
                                        <li><a href="{% url 'stock' %}">Stock</a></li>
                                        <li><a href="{% url 'crypto' %}">Crypto</a></li>
                                        <li><a href="{% url 'forex' %}">Forex</a></li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="single-item col-lg-3 col-md-6 col-12">
                            <div class="footer-box">
                                <div class="footer-header">
                                    <h3>Links</h3>
                                </div>
                                <div class="widget_nav_menu">
                                    <ul>
                                        <li><a href="{% url 'home' %}">Home</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="single-item col-lg-3 col-md-6 col-12">
                            <div class="footer-box">
                                <div class="footer-header">
                                    <h3>Follow Us On</h3>
                                </div>
                                <div class="footer-social">
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                        <li><a href="#"><i class="fab fa-skype"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="footer-bottom-wrap" style="position: relative; background:#070F0C;">
                <div class="container">
                    <div class="copyright">2023 Copyright © diamondhands.com</div>
                </div>
            </section>
        </footer>
        <!-- Footer Area End Here -->
    </div>

    <!-- Jquery Js -->
    <script src="{% static 'backtest/js/jquery-3.3.1.min.js' %}"></script>
    <!-- Bootstrap Js -->
    <script src="{% static 'backtest/js/popper.min.js' %}"></script>
    <!-- Bootstrap Js -->
    <script src="{% static 'backtest/js/bootstrap.min.js' %}"></script>
    <!-- Plugins Js -->
    <script src="{% static 'backtest/js/plugins.js' %}"></script>
    <!-- Imagesloaded Js -->
    <script src="{% static 'backtest/js/imagesloaded.pkgd.min.js' %}"></script>
    <!-- Isotope js -->
    <script src="{% static 'backtest/js/isotope.pkgd.min.js' %}"></script>
    <!-- Silk Cauosel JS -->
    <script src="{% static 'backtest/js/slick.min.js' %}"></script>
    <!-- Parallaxie JS -->
    <script src="{% static 'backtest/js/parallaxie.js' %}"></script>
    <!-- Smoothscroll Js -->
    <script src="{% static 'backtest/js/smoothscroll.min.js' %}"></script>
    <!-- Counterup Js -->
    <script src="{% static 'backtest/js/jquery.counterup.min.js' %}"></script>
    <!-- Waypoints Js -->
    <script src="{% static 'backtest/js/waypoints.min.js' %}"></script>
    <!-- Nouislider Js -->
    <script src="{% static 'backtest/js/nouislider.min.js' %}"></script>
    <!-- wNumb Js -->
    <script src="{% static 'backtest/js/wNumb.js' %}"></script>
    <!-- Owl Carousel Js -->
    <script src="{% static 'backtest/js/owl.carousel.min.js' %}"></script>
    <!-- Magnific Popup Js -->
    <script src="{% static 'backtest/js/jquery.magnific-popup.min.js' %}"></script>
    <!-- Select 2 Js -->
    <script src="{% static 'backtest/js/select2.full.min.js' %}"></script>
    <!-- Date Time Picker Js -->
    <script src="{% static 'backtest/js/jquery.datetimepicker.full.min.js' %}"></script>
    <!-- Validator js -->
    <script src="{% static 'backtest/js/validator.min.js' %}"></script>
    <!-- Google Map js -->
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtmXSwv4YmAKtcZyyad9W7D4AC08z0Rb4"></script>
        
    <!-- Custom Js -->
    <script src="{% static 'backtest/js/main.js' %}"></script>
</body>

</html>